#intro {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .grayscale {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 100px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width: 992px) {
    .scroller {
        overflow-x: scroll;
        flex-wrap: nowrap !important;

        &__item {
            flex-shrink: 0;
        }

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #444;
            height: 2px;
        }

        &::-webkit-scrollbar-track {
            height: 2px;
        }
    }
}
